.home-page {
  background-color: var(--white);
  padding: var(--pd-inline);
  padding-top: 150px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;

}

.home-left div, h1, p {
  padding: 20px 0;
} 

.home-left {
  width: 40%;
}

.text-home {
  font-size: 40px;
}

.btn {
  gap: 10px;
}

.get-started {
  color: var(--white);
  background-color: var(--dark-primary);
  padding: 14px 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.how-it-work {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.star {
  width: 400px;
  height: 100px;
}

.home-right {
  position: absolute;
  top: 0;
  right: 0;
}

.home-right img {
  width: 950px;
  max-height: 100vh;
}
/* 
.line {
  position: absolute;
  bottom: 10px;
} */

@media screen and (max-width:1245px) {
  .home-right, .home-right img {
    display: none;
    width: 0;
  }

  .home-left {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-page {
    justify-content: center;
    align-items: center;
  }

  .text-home {text-align: center;}
}


@media screen and (max-width:456px) {
  .home-page {
    padding-inline: 20px !important;
    padding-top: 40px;
  }

  .text-home {
    font-size: 35px;
  }

  .star {
    width: 200px;
  }
}